*{
  margin: 0;
  padding:0 ;
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin-bottom: 0 !important;
}

::-webkit-scrollbar{
  width: 10px;
  background: black;
}

::-webkit-scrollbar-track{
  background: black;

}

::-webkit-scrollbar-thumb{
  
  background: rgb(36, 36, 36);
  border-radius: 50px;
}